
<div>
    <h2>Edit Password-Employee</h2>
    <!-- <button  (click)="updatePassword(!passwordRef.value)" >
        Forgot Password</button> -->
    
    <form #passwordRef="ngForm" (ngSubmit)="updatePassword(passwordRef.value)">
    <label>Id</label>
    <input type ="text" name="_id" value="employees._id" ngModel><br/>
    <label>Password</label>
    <input type ="text" name="e_password"  value ="employees.Password"ngModel><br/>
    <input type ="submit" name="Forgot Password!!" class="btn btn-primary m-1"[disabled] = '!passwordRef.valid'>
    <input type="reset" value = "Clear" class="btn btn-secondary m-1 ms-0"><br/>
    </form>
    
    {{updateMsg}}
</div>


