<div><!--
    <h2>Order Details</h2>

     <form #vieworderRef="ngForm" (ngSubmit)="viewStatus(vieworderRef.value)">
        <label>OrderId</label>
        <input type="text" name="id" ngModel><br/>
        <input type="submit" value="viewStatus "/>
        
     </form>
    {{orderStatus}}-->
    <table class='table'>
        <thead>
            <tr>
                <td>
                    Time
                </td>
                <td>
                    status
                </td>
                <td>
                    fullfilled
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let order of orders'>
                <td>
                    {{order.datetime_requested}}
                </td>
                <td>
                    {{order.status}}
                </td>
                <td>
                    {{order.datetime_fulfilled}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
