<div>
    <form #empRef = "ngForm" (ngSubmit)='formSubmit(empRef.value)'>
        <div class='form-group'>
            <label>First Name </label><input type="text" name='firstName' ngModel required class="form-control">
        </div>
        <div class='form-group'>
            <label>Last Name </label><input type="text" name='lastName' ngModel required class="form-control">
        </div>
        <div class='form-group'>
            <label>Email </label><input type="text" name='email' ngModel required class="form-control">
        </div>
        
        <input type="submit" value="Add" [disabled] = '!empRef.valid'><input type="reset" value = "Clear">
    </form>
</div>
