<div class="text-center row" style="border:1px solid black;">
    <div class="col-10 m-auto">
        <form #productRef="ngForm" (ngSubmit)="getProductById(productRef)">
            <h3>Product Viewing</h3><hr/>
            <label>Product ID: </label><input type="text" name="product_id" id="product_id" required ngModel/><br>
            <input type="submit" value="View Product" [disabled]="!productRef.valid" class="btn btn-primary"/>
            <input type="reset" value="Clear" class="btn btn-secondary"/>
        </form>
        <button class="btn btn-primary" (click)="getAllProducts()">View All Products</button>
        <hr/>
        <table style="border:1px solid black;margin:auto;">
            <thead>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delete</th>
            </thead>
            <tr *ngFor="let product of productService.currentProducts">
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>
                    <button type="submit" class="btn btn-danger" value="X" (click)="deleteProduct(product)">X</button>
                </td>
            </tr>
        </table>
    </div>
</div>