<!-- Cart -->
<div class="col-lg-9 col-md-9 col-sm-12">
    <div class="col-lg-12 col-sm-12"><br/>
        <h3 class="title">GROCERS CART</h3><br/><br/>
    </div>
    <div class="col-lg-12 col-sm-12 hero-feature">
        <div class="table-responsive">
            <table class="table table-bordered tbl-cart">
                <thead>
                    <tr>
                        <td>Product ID</td>
                        <td>Product Name</td>
                        <td>Product Description</td>
                        <td>Product Price</td>
                        <td class="td-qty">Quantity</td>
                        <td>Sub Total</td>
                    </tr>
                </thead>
                <tr *ngFor="let cartItem of products">
                    <td>{{cartItem.product._id}}</td>
                    <td>{{cartItem.product.name}}</td>
                    <td>{{cartItem.product.description}}</td>
                    <td>{{cartItem.product.price}}</td>
                    <td>{{cartItem.quantity}}</td>
                </tr>
                <tbody>
                    
            </table>
        </div>
      
    </div>
</div>
<app-checkout></app-checkout>
<!-- End Cart -->