<!-- <app-user-panel></app-user-panel> -->
<div style="text-align:center;">
    <button (click)="viewAllProducts()" class ="btn btn-primary">View Cart </button>
    <table style="border:1px solid black;margin:auto;">
        <!-- <thead>
            <th>Product ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </thead>
        <tr *ngFor="let product of products">
            <td>{{product._id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.quantity}}</td>
        </tr> -->
    </table>
</div>