


<div>
<h3>Unlocking User </h3>
    <table border="1">
        <tr>
            
            <th>Ticket Raised Time</th>
             
            <th> Ticket Id </th>
            <th>Status </th>
            
           
        </tr>
<tr *ngFor="let dd of details">
   
    <td>{{dd.datetime_raised}}</td> 
     
    <td>{{dd._id}}</td>
    <td>{{dd.status}}</td>
    
    
</tr>
    </table>


    <hr/>
    <form #userRef="ngForm" (ngSubmit)="unlockUser(userRef.value)">
        <label>Username</label>
        <input type="text" name="u_username"  ngModel><br/>
        <label>Profile Status </label>
        <input list="browsers" name="locked"  ngModel><br/>
        
            <datalist id="browsers" ng-model>
            <option  value="true">True</option>
            <option value="false">False</option>
            </datalist>
        
            

          <br>


        <input type="submit" value="upadate status" class="btn btn-primary m-1"/>
        
     </form>
    {{userMsg}}
</div>

