<div>
<h3>Unlocking User </h3>
    <table border="1">
        <tr>
            <th></th>
            <th>Username</th>
            <th>Ticket Raised Time</th>
            <th>Ticket Resloved Time</th>
            <th>Ticket Id</th>
        </tr>
<tr *ngFor="let dd of details">
    <td>{{dd.u_username}}</td>
    <td>{{dd.datetime_raised}}</td>
    <td>{{dd.datetime_resolved}}</td>
    <td>{{dd._id}}</td>
</tr>
    </table>


    <hr/>
    <form #userRef="ngForm" (ngSubmit)="unlockUser(userRef.value)">
        <label>Username</label>
        <input type="text" name="u_username"  ngModel><br/>
        <label>Profile Status </label>
        <input list="browsers" name="locked"  ngModel><br/>
        
            <datalist id="browsers" ng-model>
            <option  value="true">True</option>
            <option value="false">False</option>
            </datalist>
        
            

          <br>


        <input type="submit" value="upadate status"/>
        
     </form>
    {{userMsg}}
</div>
