<div>
    <h2>Order Details</h2>
    Id:<input type="text" #idRef/><br/>
    <input type ="button" value ="Click here to See Order Details"
    (click)=serchorderDetails(idRef.value)/><br/>
    {{resultMsg}}


    <form #orderRef="ngForm" (ngSubmit)="updateStatus(orderRef.value)">
        <label>OrderId</label>

        <input type="text" name="id" ngModel><br/>

        <label>Status</label>
        <input list="browsers" name="status"  ngModel><br/>
       
            <datalist id="browsers" ng-model>
            <option  value="shipped">Shipped</option>
            <option value="OutForDelivery">Out For OutForDelivery</option>
            <option value="delivered">Delivered</option>
          <option value="cancelled">cancelled</option>
        </datalist>
        <!-- </select> -->

                <!-- <form #cancleRef="ngForm" value="cancelled">
           <label>refund</label>
          <input type="text" name="refund" ngModel><br/>
         <label>Reason</label>
       <input type="text" name="reason" ngModel><br/>
                </form> -->
            

          <br>


        <input type="submit" value="upadate status"/>
        
     </form>
    {{updateMsg}}
</div>
