<div>
    <h2>Send-Request to Admin</h2>
    <form #productRef="ngForm" (ngSubmit)="addProductQuntity(productRef.value)">
        <label>Employee Name</label>
        <input type="text" name="uname" ngModel><br/>
        <label>Product Id</label>
        <input type="text" name="pid" ngModel><br/>
        <label>New Quntity</label>
        <input type="text" name="nquantity" ngModel ><br/>
        <input type="submit" value="store"/>
        <input type="submit" value="reset"/>

    </form>
</div>

<p>send-request works!</p>
