<div class="text-center row">
    <div class="col-4 m-auto">
        <form #productRef="ngForm" (ngSubmit)="updateProduct(productRef)">
            <h3>Product Updating</h3><hr/>
            <label>Product ID: </label><input type="text" name="product_id" id="product_id" required ngModel/><br>
            <label>New Quantity: </label><input type="number" name="product_newQuantity" id="product_newQuantity" required ngModel/><br>
            <input type="submit" value="Update" [disabled]="!productRef.valid" class="btn btn-primary"/>
            <input type="reset" value="Clear" class="btn btn-secondary"/>
        </form>
    </div>
</div>