<div>
   <!-- <button (click)='buildTable()'>Build Table</button>-->
    <div *ngIf='tableRowDate.length != 0'>
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Number sold
                    </th>
                    <th>
                        Revenue
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor='let rows of tableRowDate'>
                    <td>
                        {{rows.name}}
                    </td>
                    <td>
                        {{rows.quantity}}
                    </td>
                    <td>
                        {{rows.price * rows.quantity}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{message}}
