<div class="text-center row">
    <div class="col-7 m-auto">
        <h3>Request Viewing</h3><hr/>
        <button (click)="getAllRequests()" class="btn btn-primary">View Requests</button>
        <table style="border:1px solid black;margin:auto;">
            <thead>
                <th>Employee</th>
                <th>Product ID</th>
                <th>Quantity Requested</th>
                <th>Time Requested</th>
                <th>Time Resolved</th>
                <th>Status</th>
                <th>Resolve Request</th>
            </thead>
            <tr *ngFor="let request of requests">
                <td>{{request.e_username}}</td>
                <td>{{request.product_id}}</td>
                <td>{{request.new_quantity}}</td>
                <td>{{request.datetime_requested}}</td>
                <td>{{request.datetime_resolved}}</td>
                <td>{{request.status}}</td>
                <td *ngIf="request.status != 'resolved'">
                    <button type="submit" class="btn btn-secondary" value="Resolve" (click)="resolveRequest(request)">Resolve</button>
                </td>
                <!--We also need the following cell because the table bordering is part of a cell.
                Hence if a cell does not load because it is a resolved request, we need
                an empty dumby-cell.-->
                <td *ngIf="request.status == 'resolved'"></td>
            </tr>
        </table>
        </div>
</div>