<nav class="navbar-expand-lg navbar-light bg-light">   
    <div class="container-fluid">

                       
    <ul class="navbar-nav justify-content-center" >
      <li class="nav-item">
        <a routerLink='' class="nav-link ">Checkout</a>
      </li>
      <li class="nav-item">
        <a routerLink='' class="nav-link ">Select Items</a>
      </li> 
      <li class="nav-item">
        <a routerLink='' class="nav-link ">View Cart</a>
      </li>       
      <li class="nav-item">
        <a routerLink='' class="nav-link ">View Order Status</a>
      </li>    
      <li class="nav-item">
        <a routerLink='' class="nav-link ">Edit Profile</a>
      </li>    
      <li class="nav-item">
        <a routerLink='' class="nav-link ">Logout</a>
      </li>               
    </ul>     
</div>                                      
</nav>
<div>
    <router-outlet></router-outlet>
</div>
