<nav class="navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class='row'>
      <div class='col-9'>
        <ul class="navbar-nav justify-content-begin">
          <li class="nav-item">
            <a routerLink='' class="nav-link ">Checkout</a>
          </li>
          <li class="nav-item">
            <a routerLink='select' class="nav-link ">Select Items</a>
          </li>
          <li class="nav-item">
            <a routerLink='viewCart' class="nav-link ">View Cart</a>
          </li>
          <li class="nav-item">
            <a routerLink='viewOrderStatus' class="nav-link ">View Order Status</a>
          </li>
          <li class="nav-item">
            <a routerLink='' class="nav-link ">Edit Profile</a>
          </li>
    
        </ul>
      </div>
      <div class='col'> 
        <ul class= 'navbar-nav justify-content-end'>
          <li class='nav-item'>
            <app-user-log-out></app-user-log-out>
          </li>
         </ul>
      </div>
    </div>

    
  






  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>
