<nav class="navbar-expand-lg navbar-light bg-light">   
    <div class="container-fluid">

                       
    <ul class="navbar-nav justify-content-center" >
      <li class="nav-item">
        <a routerLink='./signIn' class="nav-link ">Sign in</a>
      </li>
      <li class="nav-item">
        <a routerLink='./signUp' class="nav-link ">Sign up</a>
      </li> 
      <li class="nav-item">
        <a routerLink='./raiseTicket' class="nav-link ">Raise ticket</a>
      </li>                  
    </ul>     
</div>                                      
</nav>
<div>
    <router-outlet></router-outlet>
</div>
