
<h2>Account Funds</h2>
 <div class="fundTableArea">
<table class="table fundTable">
 <thead>
    <th>Account Number</th>
    <th>Amount</th>
    </thead>
    <tbody>
    <tr>
        <td>{{me.accountN}}</td>
        <td>{{me.funds}}</td>
    </tr>
    </tbody>
    </table>
    </div>
<div class="addFundsArea">
    <h3>Add Funds</h3>
    <div class="input-group mb-2 amntInput">
        <span class="input-group-text">$</span>
        <input #fundsAmnt type="text" class="form-control" aria-label="Amount">
        <span class="input-group-text">.0$</span>
    </div>
    <input type="button" class="btn btn-success" value="Load Funds" (click)="loadFunds(fundsAmnt.value)">
</div>