<nav class="navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
  
        <div class='row'>
            <div class="col-11">
                <ul class="navbar-nav justify-content-begin">
                    <li class="nav-item">
                        <a routerLink='addProducts' class="nav-link ">Add Products</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='viewProducts' class="nav-link ">View Products</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='updateProducts' class="nav-link ">Update Products</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='deleteProducts' class="nav-link ">Delete Products</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='viewRequests' class="nav-link ">View Requests</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='addEmployee' class="nav-link ">Add Employee</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='deleteEmployee' class="nav-link ">Delete Employee</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='generateReport' class="nav-link ">Generate Report</a>
                    </li>
                </ul>
            </div>

            <div class="col-1"> 
                <ul class= 'navbar-nav justify-content-end'>
                    <li class='nav-item'>
                        <app-admin-logout></app-admin-logout>
                    </li>
                </ul>
            </div>
            
        </div>

    </div>
</nav>
  
  
  <div>
    <router-outlet></router-outlet>
  </div>