<div class="text-center row">
    <div class="col-4 m-auto">
        <form #productRef="ngForm" (ngSubmit)="deleteProduct(productRef)">
            <h3>Product Deletion</h3><hr/>
            <label>Product ID: </label><input type="text" name="product_id" id="product_id" required ngModel/><br>
            <input type="submit" value="Delete" [disabled]="!productRef.valid" class="btn btn-primary"/>
            <input type="reset" value="Clear" class="btn btn-secondary"/>
        </form>
    </div>
</div>