<div class="row border border-dark p-1">
    <div>
        <form #productRef="ngForm" (ngSubmit)="deleteProduct(productRef)">
            <h3 class="text-center">Product Deletion</h3><hr/>
            <div class="form-group">
                <label>Product ID</label>
                <br/>
                <input type="text" name="product_id" id="product_id" required ngModel class="form-control"/>
            </div>       
            <div class="text-center">    
                <input type="submit" value="Delete" [disabled]="!productRef.valid" class="btn btn-primary m-1"/>
                <input type="reset" value="Clear" class="btn btn-secondary m-1 ms-0"/>
            </div>
        </form>
    </div>
</div>